* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0
}

div.container {
    border: 5px solid red;
    width: 80%;
    margin: auto auto;
}

header {
    background-color: darkolivegreen;
}

.hero img {
    width: 100%
}

div.left,
div.middle,
div.right {
    border: 3px dotted green;
    width: 32%;
    float: left
}

aside img {
    width: 100%;
}

aside {
    display: flex;
    justify-content: space-between;
}

nav {
    background-color: dimgray;
}

ul {
    text-align: center;
}

li {
    display: inline-block;
    width: 150px;
    border: 2px solid gray;
    background-color: gray;
    line-height: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-variant: small-caps;
}

a {
    color: white;
    text-decoration: none;
    display: block;
}